
.is-hidden {
    display: none;
}

.hero {
     width: 100%;
     height: 100%;
     max-width: 320px;
    //  height: 380px;
     margin: 0 auto;

     color: #FFFFFF;
     background-color: #000000;
     padding-top: 40px;
     padding-bottom: 80px;

    background-repeat: no-repeat;
    background: linear-gradient(86.77deg, #111111 30.38%, rgba(17, 17, 17, 0) 65.61%), url(../images/hero/hero_home_m_1x.png) top 0px left 75px/320px 380px no-repeat;
    background: linear-gradient(86.77deg, #111111 30.38%, rgba(17, 17, 17, 0) 65.61%), -webkit-image-set(url(../images/hero/hero_home_m_1x.webp) 1x) top 0px left 75px/320px 380px no-repeat;
    
        @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: linear-gradient(86.77deg, #111111 30.38%, rgba(17, 17, 17, 0) 65.61%), url(../images/hero/hero_home_m_2x.png) top 0px left 75px/320px 380px no-repeat;
        background: linear-gradient(86.77deg, #111111 30.38%, rgba(17, 17, 17, 0) 65.61%), -webkit-image-set(url(../images/hero/hero_home_m_2x.webp) 2x) top 0px left 75px/320px 380px no-repeat;
        }

     @media screen and (min-width: 768px) and (max-width: 1279px) {
         max-width: 768px;
        //  height: 248px;
         padding-top: 62px;
         padding-bottom: 62px;
         margin: 0 auto;

        background: linear-gradient(82.55deg, #111111 39.6%, rgba(17, 17, 17, 0) 72.95%), url(../images/hero/hero_home_t_1x.png) top 0px left 200px/768px 432px no-repeat;
        background: linear-gradient(82.55deg, #111111 39.6%, rgba(17, 17, 17, 0) 72.95%), -webkit-image-set(url(../images/hero/hero_home_t_1x.webp) 1x) top 0px left 200px/768px 432px no-repeat;
        
            @media screen and (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background: linear-gradient(82.55deg, #111111 39.6%, rgba(17, 17, 17, 0) 72.95%), url(../images/hero/hero_home_t_2x.png) top 0px left 200px/768px 432px no-repeat;
            background: linear-gradient(82.55deg, #111111 39.6%, rgba(17, 17, 17, 0) 72.95%), -webkit-image-set(url(../images/hero/hero_home_t_2x.webp) 2x) top 0px left 200px/768px 432px no-repeat;
            }
        
        }

     @media screen and (min-width: 1280px) {
         max-width: 1280px;
        //  height: 66npm0px;
         padding-top: 169px;
         padding-bottom: 169px;
         margin: 0 auto;

        background: linear-gradient(83.16deg, #111111 36.85%, rgba(17, 17, 17, 0) 60.05%), url(../images/hero/hero_home_d_1x.png) top 0px left 275px/1280px 720px no-repeat;
        background: linear-gradient(83.16deg, #111111 36.85%, rgba(17, 17, 17, 0) 60.05%), -webkit-image-set(url(../images/hero/hero_home_d_1x.webp) 1x) top 0px left 275px/1280px 720px no-repeat;
        
            @media screen and (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background: linear-gradient(83.16deg, #111111 36.85%, rgba(17, 17, 17, 0) 60.05%), url(../images/hero/hero_home_d_2x.png) top 0px left 275px/1280px 720px no-repeat;
            background: linear-gradient(83.16deg, #111111 36.85%, rgba(17, 17, 17, 0) 60.05%), -webkit-image-set(url(../images/hero/hero_home_d_2x.webp) 2x) top 0px left 275px/1280px 720px no-repeat;
            }
        }
         
    

    //  &__img {
    //     width: 100%;
    //     height: 100%;
    //     max-width: 320px;
    //     max-height: 380px;
    //     margin: 0 auto;
    //     display: block;
    //     position: absolute;
    //     top: 48px;
    //     // left: 0;
    //     // max-width: 320px;
        

    //         @media screen and (min-width: 768px) and (max-width: 1279px) {
    //             width: 100%;
    //             height: 100%;
    //             max-width: 768px;
    //             max-height: 372px;
    //             // margin: 0 auto;
    //             // display: block;
    //             // position: absolute;
    //             top: 60px;
    //             left: 0;
    //             // max-width: 320px;
                
    //                                     @media screen and (min-width: 1280px) {

    //  }

     &__container {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: left;
     }

     &__title {
        font-family: 'Roboto Bold';
        font-size: 32px;
        width: 199px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        padding-bottom: 8px;

         @media screen and (min-width: 768px) {
             font-size: 44px;
             width: 332px;
             height: 104px;
             font-weight: 700;
             line-height: 52px;
             

         }

         @media screen and (min-width: 1280px) {
             font-size: 64px;
             width: 484px;
             height: 150px;
             line-height: 75px;
             padding-bottom: 16px;
         }
     }

     &__p {
        font-family: 'Roboto Regular';
        width: 166px;
        height: 80px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        overflow: hidden;
        
        

        @media screen and (min-width: 768px) {
            width: 357px;
            height: 64px;

        }

        @media screen and (min-width: 1280px) {
            width: 464px;
            height: 76px;
            font-size: 16px;
            line-height: 19px;

        }

     }

     &__but {

        display: block;
        width: 110px;
        height: 38px;
        
        color: #111111;
        
        font-family: 'Roboto Medium';
        font-size: 12px;
        line-height: 14px;
        // font-weight: 500;
        
        text-align: center;
        cursor: pointer;
        
        border: none;
        border-radius: 74px;
        background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
         // margin: 0 auto;
         // line-height: 1.875;
        padding: 12px 24px;
        margin: 20px 0 0 0;

         @media screen and (min-width: 768px) {
            width: 120px;
            height: 40px;
            font-size: 14px;
            line-height: 20px;
            margin: 32px 0 0 0;

         }

         @media screen and (min-width: 1280px) {
            width: 130px;
            height: 48px;
            font-size: 16px;
            line-height: 24px;

        }
    }
}

