

<section class="catalog">
<div class="container catalog">
  <form class="catalog__search-form" id="idFormCatalog" autocomplete="off">
      <input type="text" name="name" class="catalog__search-input" id="nameFilm" placeholder="Film">

      <button type="submit" class="catalog__submit">
        <svg class="catalog__serch-icon" width="20" height="20">
          <use href="./images/search-sprite.svg#icon-search"></use>
        </svg>
      </button>
      <button type="button" class="catalog__btn-cross ishidden">
        <svg class="catalog__icon-cross" width="20" height="20">
          <use href="./images/search-sprite.svg#icon-x"></use>
        </svg>
      </button>
  </form>

  <ul class="catalog__gallery" ></ul>


  <p class="catalog__message ishidden">
    OOPS...</br>
    We are very sorry!</br>
    We don’t have any results matching your search.
  </p>
     
</div>
</section>
  