<footer>
    <div class="container footer-contain">
        <p class="footer-contain__text">
            © 2023 | All Rights Reserved | Developed with
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="13"
                fill="none"
                class="footer-contain__svg"
            >
                <path
                    fill="#F87719"
                    d="m7 12.88-.98-.98C2.38 8.68 0 6.51 0 3.85 0 1.68 1.68 0 3.85 0 5.04 0 6.23.56 7 1.47 7.77.56 8.96 0 10.15 0 12.32 0 14 1.68 14 3.85c0 2.66-2.38 4.83-6.02 8.05l-.98.98Z"
                />
            </svg>
            by
            <a href="#" class="footer-contain__students" data-modal-open-footer
                >GoIT Students</a
            >
        </p>
    </div>
    <div
        class="footer-contain__backdrop footer-contain__is-hidden"
        data-modal-footer
    >
        <div class="footer-contain__modal">
            <svg
                width="12"
                height="12"
                viewBox="0 0 12 12"
                xmlns="http://www.w3.org/2000/svg"
                data-modal-close-footer
            >
                <path
                    d="M11.25 11.25L0.75 0.75M11.25 0.75L0.75 11.25"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
            <h1 class="footer-contain__modal-title">Our team:</h1>
            <p class="footer-contain__modal-text">
                Thank you for visiting our website and familiarizing yourself
                with our work! We worked on it with great passion and
                enthusiasm. We hope you enjoyed our work and found many
                interesting movies here. Keep visiting us and enjoy an
                unforgettable cinematic experience!
            </p>
            <a href="https://github.com/Dimitri-Y/cinemania-group-11"
                ><button class="footer-contain__modal-github">GitHub</button></a
            >
            <h2 class="footer-contain__modal-list-title">Project makers:</h2>
            <ul class="footer-contain__modal-list">
                <li>
                    <p class="footer-contain__modal-list-role">Team Lead:</p>
                    <a href="" class="footer-contain__modal-list-name">1</a>
                </li>
                <li>
                    <p class="footer-contain__modal-list-role">Scrum Master:</p>
                    <a
                        href="https://www.linkedin.com/in/viktoriia-rozhkova-front-end"
                        class="footer-contain__modal-list-name"
                        >Victoriia Rozhkova</a
                    >
                </li>
                <li>
                    <p class="footer-contain__modal-list-role">Developer:</p>
                    <a
                        href="http://www.linkedin.com/in/natalia-yarema"
                        class="footer-contain__modal-list-name"
                        >Natalia Yarema</a
                    >
                </li>
                <li>
                    <p class="footer-contain__modal-list-role">Developer:</p>
                    <a
                        href="https://www.linkedin.com/in/katerynasilchenkofrontenddeveloper/"
                        class="footer-contain__modal-list-name"
                        >Kateryna Silchenko</a
                    >
                </li>
                <li>
                    <p class="footer-contain__modal-list-role">Developer:</p>
                    <a
                        href="https://www.linkedin.com/in/nata-rubel/"
                        class="footer-contain__modal-list-name"
                        >Nata Rubel`</a
                    >
                </li>
                <li>
                    <p class="footer-contain__modal-list-role">Developer:</p>
                    <a
                        href="https://github.com/KosminaOlena"
                        class="footer-contain__modal-list-name"
                        >Olena Kosmina</a
                    >
                </li>
                <li>
                    <p class="footer-contain__modal-list-role">Developer:</p>
                    <a href="" class="footer-contain__modal-list-name">7</a>
                </li>
                <li>
                    <p class="footer-contain__modal-list-role">Developer:</p>
                    <a href="" class="footer-contain__modal-list-name">8</a>
                </li>
                <li>
                    <p class="footer-contain__modal-list-role">Developer:</p>
                    <a href="" class="footer-contain__modal-list-name">9</a>
                </li>
                <li>
                    <p class="footer-contain__modal-list-role">Developer:</p>
                    <a href="" class="footer-contain__modal-list-name">10</a>
                </li>
                <li>
                    <p class="footer-contain__modal-list-role">Developer:</p>
                    <a href="" class="footer-contain__modal-list-name">11</a>
                </li>
                <li>
                    <p class="footer-contain__modal-list-role">Developer:</p>
                    <a href="" class="footer-contain__modal-list-name">12</a>
                </li>
                <li>
                    <p class="footer-contain__modal-list-role">Developer:</p>
                    <a href="" class="footer-contain__modal-list-name">13</a>
                </li>
            </ul>
            <button class="footer-contain__modal-back" data-modal-go-back-footer>Go back</button>
        </div>
    </div>
</footer>
