<header class="top container">
    <div class="logo">
        <img
            class="popcorn"
            src="./images/popcorn_cola.svg"
            alt="popcorn_and_cola"
            width="32px"
            height="32px"
        />
        <p class="logo-text">Cinemania</p>
    </div>

    <div>
        <a href="#" class="menu-item menu-menu" data-menu-open>MENU</a>
    </div>

    <ul class="menu">
        <li><a href="#" class="menu-item  current">HOME</a></li>
        <li>
            <a href="catalog.html" class="menu-item">CATALOG</a>
        </li>
        <li>
            <a href="librare.html" class="menu-item">MY LIBRARY</a>
        </li>
    </ul>

    <button type="button" class="switch_theme">
        <img
            src="./images/switch_btn.svg"
            alt="dffdf"
        />
    </button>

    <!--------------- MOBILE MENU ----------------->
    <div class="mob-menu is-hidden" data-menu>

        <div class="container-mob-menu">
        <div class="logo-mob">
            <img
                class="popcorn-mob"
                src="./images/popcorn_cola.svg"
                alt="popcorn_and_cola"
                width="32px"
                height="32px"
            />
            <ul class="menu-mob ">
                <li class="menu-item-mob  current"><a href="#">HOME</a></li>
                <li class="menu-item-mob">
                    <a href="catalog.html">CATALOG</a>
                </li>
                <li class="menu-item-mob">
                    <a href="librare.html">MY LIBRARY</a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</header>
