<header class="top">
    <div class="logo">
        <img
            class="popcorn"
            src="images/d-own_cinema-1280@2x-min.jpg"
            alt="popcorn_and_cola"
            width="48px"
            height="48px"
        />
        Cinemania
    </div>

    <ul class="menu list">
        <li><a href="#" class="menu-item link current">HOME</a></li>
        <li>
            <a href="catalog.html" class="menu-item link">CATALOG</a>
        </li>
        <li>
            <a href="librare.html" class="menu-item link">MY LIBRARY</a>
        </li>
    </ul>

    <button type="button" class="switch_theme">
        <img
            src="images/m-own_cinema-320@2x-min.jpg"
            alt="dffdf"
            width="60px"
            height="24px"
        />
    </button>
</header>
