<header class="top container">
    <a href="index.html">
        <div class="logo">
            <img
                class="popcorn"
                src="./images/popcorn_cola.svg"
                alt="popcorn_and_cola"
                width="32px"
                height="32px"
            />
            <p class="logo-text">Cinemania</p>
        </div>
    </a>
    <div>
        <a href="#" class="menu-item menu-menu" data-menu-open>MENU</a>
    </div>

    <ul class="menu">
        <li><a href="index.html" class="menu-item">HOME</a></li>
        <li>
            <a href="catalog.html" class="menu-item">CATALOG</a>
        </li>
        <li>
            <a href="library.html" class="menu-item">MY LIBRARY</a>
        </li>
    </ul>

    <button type="button" id="darkThemeBtn" class="switch_theme">
        <img src="./images/switch_btn.svg" alt="dark theme" />
    </button>
    
    <button type="button" id="lightThemeBtn" class="switch_theme hidden">
        <img src="./images/switch_btn_light.svg" alt="light theme" />
    </button>
    

    <!--------------- MOBILE MENU ----------------->
    <div class="mob-menu is-hidden" data-menu>
        <div class="container-mob-menu">
            <div class="logo-mob">
                <a href="index.html">
                    <img
                        class="popcorn-mob"
                        src="./images/popcorn_cola.svg"
                        alt="popcorn_and_cola"
                        width="32px"
                        height="32px"
                    />
                </a>
                <ul class="menu-mob">
                    <li class="menu-item-mob"><a href="index.html">HOME</a></li>
                    <li class="menu-item-mob">
                        <a href="catalog.html">CATALOG</a>
                    </li>
                    <li class="menu-item-mob">
                        <a href="library.html">MY LIBRARY</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

