<main class="main">
    <div class="preloader container">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <section class="hero is-hidden" ref="targetRef">
        <div class="containerq hero__container">
            <h1 class="hero__title"> Let’s Make Your Own Cinema </h1>
            <div class="hero__p">
                <p> Is a guide to creating a personalized movie theater experience. 
                    You'll need a projector, screen, and speakers. 
                    Decorate your space, choose your films, and stock up on snacks for the full experience.
                </p>
            </div>
            <button class="hero__but" type="button" data-modal-open>
                Get Started
            </button>
        </div>   
    </section>
</main>

<include src="./partials/modal_window_watch.html"></include>