<div class="bodyModal">
    <button class="button buttonVideo demobuttons" data-hystmodal="#modalVideo">Watch trailer</button>
    <button class="button buttonInfo demobuttons" data-hystmodal="#modalSimple">More details</button>

    <div class="hystmodal" id="modalSimple" aria-hidden="true">
        <div class="hystmodal__wrap">
            <div class="hystmodal__window" role="dialog" aria-modal="true">
                <button class="hystmodal__close" data-hystclose>Закрыть</button>
                <div class="hystmodal__styled">
                    <div class="h1">Website Overview</div>
                    <p>
                        Websites have many functions and can be used in various fashions; a website can be a personal
                        website, a commercial website, a government website or a non-profit organization website.
                        Websites
                        can be the work of an individual, a business or other organization, and are typically dedicated
                        to a
                        particular topic or purpose.
                    </p>
                    <p>Any website can contain a hyperlink to any other website, so the distinction between individual
                        sites, as perceived by the user, can be blurred. Websites are written in, or converted to, HTML
                        (Hyper Text Markup Language) and are accessed using a software interface classified as a user
                        agent.
                    </p>
                    <p>text from <a href="https://en.wikipedia.org/wiki/Website">Wikipedia</a></p>
                    <button data-hystmodal="#modalLong">Open long modal</button>
                </div>
            </div>
        </div>
    </div>


    <div class="hystmodal hystmodal--simple hystmodal--video" id="modalVideo" aria-hidden="true">
        <div class="hystmodal__wrap">
            <div class="hystmodal__window" role="dialog" aria-modal="true">
                <button class="hystmodal__close" data-hystclose></button>
                <iframe src="https://www.youtube.com/embed/nT14mlv92t4?enablejsapi=1&rel=0&showinfo=0" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>