<div class="bodyModal">
    <div class="hystmodal hystmodal--video" id="modalVideo" aria-hidden="true">
        <div class="hystmodal__wrap">
            <div class="hystmodal__window" role="dialog" aria-modal="true">
                <button class="hystmodal__close" data-hystclose></button>
                <div class="iframe_container is-hidden" id='iframe_container'>
                    <iframe class="iframe" id="iframe" src="https://www.youtube.com" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
                <div class="errorWatchVideo" id="errorWatchVideo">
                    <p class="errorText">
                        OOPS...<br />
                        We are very sorry! <br />
                        But we couldn’t find the trailer.
                    </p>
                    <img class="errorImg" src="./images/modal-false-movie-min.png" alt="Error Movie" />
                </div>
            </div>
        </div>
    </div>
</div>