<div class="library-hero__overlay">
    <section class="library-hero__section">
        <h2 class="library-hero__title">Create Your Dream Cinema</h2>
        <p class="library-hero__sub">
            Is a guide to designing a personalized movie theater experience with
            the right equipment, customized decor, and favorite films. This
            guide helps you bring the cinema experience into your own home with
            cozy seating, dim lighting, and movie theater snacks.
        </p>
    </section>
</div>
<section class="library-body__section">
    <div class="container">
        <div class="library-body__wrap">
            <p class="library-body__default-sub">
                <span class="library-body__default-span">OOPS...</span>
                <span class="library-body__default-span"
                    >We are very sorry!
                </span>
                You don't have any movies at your library.
            </p>
            <button class="library-body__default-btn">
                <span class="library-body__btn-span">Search movie</span>
            </button>
        </div>
    </div>
</section>
