/* =======MOVIE-GALLERY======= */
.catalog__gallery {
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  display: flex;
  position: relative;
}

@media screen and (min-width: 768px) {
  .catalog__gallery {
    row-gap: 28px;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1280px) {
  .catalog__gallery {
    row-gap: 32px;
  }
}

/* ============MOVIE-CARD============= */
.movie-card {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  min-width: 280px;
  min-height: 406px;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );

  flex-basis: calc((100% - 2 * 16px) / 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.movie-card :hover,
.movie-card :focus {
  transform: scale(1.08);
  transform-origin: center;
}

@media screen and (min-width: 768px) {
  .movie-card {
    min-width: 224px;
    min-height: 325px;
    flex-basis: calc((100% - (2 * 16px)) / 3);
  }
}

@media screen and (min-width: 1280px) {
  .movie-card {
    min-width: 395px;
    min-height: 574px;
    flex-basis: calc((100% - 2 * 16px) / 3);
  }
}

.movie-card__img {
  width: 100%;
  height: 100%;
  background-image: url(/src/images/image-not-found.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.movie-card__info {
  height: 40px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .movie-card__info {
    height: 46px;
  }
}

@media screen and (min-width: 1280px) {
  .movie-card__info {
    height: 54px;
    left: 20px;
    bottom: 20px;
  }
}

.movie-card__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-transform: uppercase;
  color: #ffffff;
}

.movie-card__genre-year {
  color: #b7b7b7;
}

@media screen and (min-width: 1280px) {
  .movie-card__title,
  .movie-card__genre-year {
    font-size: 20px;
    line-height: 1.15;
  }
}

.movie-card__rating {
  width: 86px;
  height: 14px;
  position: absolute;
  right: 12px;
  bottom: 16px;
}

@media screen and (min-width: 768px) {
  .movie-card__rating {
    width: 66px;
    height: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .movie-card__rating {
    right: 20px;
    bottom: 24px;
  }
}
