footer {
  background: #000;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 28px;
}
.footer-contain {
  width: 320px;
  text-align: center;
}

.footer-contain__text {
  margin: 0px;

  font-family: 'Roboto Regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #b7b7b7;
}

.footer-contain__students {
  color: #b7b7b7;
  cursor: pointer;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contain__students:hover,
.footer-contain__students:focus {
  color: #F87719;
}
/* зміна теми сайту */
.light-theme footer {
  background: #F5F5F5;
}

.light-theme .footer-contain__text {
  color: #595959;
}

.light-theme .footer-contain__students {
  color: #595959;
}
.light-theme .footer-contain__students:hover,
.light-theme .footer-contain__students:focus {
  color: #F87719;
}

@media screen and (min-width: 768px) {
  footer {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .footer-contain {
    width: 768px;
  }

  .footer-contain__text {
    font-size: 16px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 1158px) {
  footer {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .footer-contain {
    width: 1280px;
  }
}
