footer {
  background: #111111;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.footer-contain {
  width: 320px;
  text-align: center;
  padding: 40px 42px 28px;
}

.footer-contain__text {
  margin: 0px;

  font-family: 'Roboto Regular';
  font-size: 14px;
  line-height: 1.14;

  color: #b7b7b7;
}
.footer-contain__svg {
  margin-top: 10px;
}
.footer-contain__students {
  font-family: 'Roboto Medium';
  color: #b7b7b7;
  cursor: pointer;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contain__students:hover,
.footer-contain__students:focus {
  color: #f87719;
}
/* зміна теми сайту */
.light-theme footer {
  background: #f5f5f5;
}

.light-theme .footer-contain__text {
  color: #595959;
}

.light-theme .footer-contain__students {
  color: #595959;
}
.light-theme .footer-contain__students:hover,
.light-theme .footer-contain__students:focus {
  color: #f87719;
}

/* modal */
.footer-contain__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contain__is-hidden {
  opacity: 0;
  pointer-events: none;
}
.footer-contain__modal {
  margin-top: 10px;
  margin-bottom: 10px;

  padding: 20px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 280px;
  max-height: 500px;
  /* max-height: 100%; */

  overflow-y: scroll;

  color: #f8f8f8;
  background: #111111;
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 16px;
}

.light-theme .footer-contain__modal {
  color: #111111;
  background: #f8f8f8;
  box-shadow: 1px 1px 14px 4px rgba(28, 25, 23, 0.42);
  border-radius: 16px;
}

/*  редагування скролу в модалці */
.footer-contain__modal::-webkit-scrollbar {
  width: 4px;
}
.footer-contain__modal::-webkit-scrollbar-thumb {
  background-color: #f87719;
  border-radius: 74px;
}

/* закриваюча свг */
.footer-contain__modal svg {
  float: right;
  stroke: #f5f5f5;
  cursor: pointer;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.light-theme .footer-contain__modal svg {
  stroke: #111111;
}

.footer-contain__modal svg:hover,
.footer-contain__modal svg:focus {
  stroke: #f87719;
}

/*  */
.footer-contain__modal-title {
  margin: 0;
  font-family: 'Roboto Medium';
  font-size: 20px;
  line-height: 1.15;
}
.footer-contain__modal-text {
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: 'Roboto Regular';
  font-size: 12px;
  line-height: 1.67;
}
/* посилання на github */
.footer-contain__modal-github {
  position: relative;
  text-align: center;
  cursor: pointer;

  margin-bottom: 20px;
  margin-left: 97px;
  margin-right: 97px;

  padding: 12px 24px;

  border-radius: 74px;
  border: none;

  color: #f5f5f5;
  background: #111111;

  transition: background 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.light-theme .footer-contain__modal-github {
  background: #f5f5f5;
  color: #111111;
}
/* градієнт border */
.footer-contain__modal-github::before,
.footer-contain__modal-back::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  background: linear-gradient(
    to right,
    rgba(255, 194, 38, 1),
    rgba(248, 65, 25, 1)
  );
  border-radius: 74px;
  z-index: -1;
}

.footer-contain__modal-github:focus,
.footer-contain__modal-github:hover {
  background: linear-gradient(
    to right,
    rgba(255, 194, 38, 1),
    rgba(248, 65, 25, 1)
  );
}

.footer-contain__modal-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer-contain__modal-list-title {
  margin-top: 0px;
  margin-bottom: 15px;

  font-family: 'Roboto Medium';
  font-size: 16px;
  line-height: 1.14;
}

.footer-contain__modal-list li {
  display: flex;
  align-items: flex-end;
}
.footer-contain__modal-list li:not(:last-child) {
  margin-bottom: 15px;
}
.footer-contain__modal-list-role {
  margin: 0;
  margin-right: 8px;
  color: #b7b7b7;

  font-family: 'Roboto Medium';
  font-size: 12px;
  line-height: 1.33;
}

.footer-contain__modal-list-name {
  font-family: 'Roboto Medium';
  font-size: 14px;
  line-height: 1.17;
  color: #f87719;
  text-decoration: underline;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contain__modal-list-name:focus,
.footer-contain__modal-list-name:hover {
  color: #f85500;
  text-decoration: none;
}

.footer-contain__modal-back {
  float: right;
  position: relative;
  cursor: pointer;

  margin-bottom: 20px;
  margin-top: 20px;

  padding: 12px 24px;

  border-radius: 74px;
  border: none;

  color: #f5f5f5;
  background: #111111;

  transition: background 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.light-theme .footer-contain__modal-back {
  background: #f5f5f5;
  color: #111111;
}
.footer-contain__modal-back:focus,
.footer-contain__modal-back:hover {
  background: linear-gradient(
    to right,
    rgba(255, 194, 38, 1),
    rgba(248, 65, 25, 1)
  );
}

@media screen and (min-width: 768px) {
  .footer-contain {
    width: 768px;
  }

  .footer-contain__text {
    font-size: 16px;
    line-height: 1.19;

    padding-top: 60px;
    padding-bottom: 40px;
  }
  .footer-contain__svg {
    margin-top: 0px;
  }

  /* modal */
  .footer-contain__modal {
    padding: 25px 44px;

    min-width: 704px;
    max-height: 677px;
    /* max-height: 100%; */
  }

  .footer-contain__modal-text {
    margin-bottom: 30px;
  }
  .footer-contain__modal-github {
    margin-bottom: 30px;
    width: 166px;
    margin-left: 269px;
    margin-right: 269px;
  }
  .footer-contain__modal-list-title {
    margin-bottom: 30px;
  }
  .footer-contain__modal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 160px;
    margin-right: 160px;
  }
  .footer-contain__modal-list li {
    flex-direction: column;
    flex-basis: 50%;
    display: inline-block;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-contain__modal-list li:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer-contain__modal-list-role {
    margin: 0%;
  }
  .footer-contain__modal-list-name {
    font-size: 18px;
    line-height: 1;
  }
  /* .footer-contain__modal-back {
    margin-bottom: 25px;
  } */
}

@media screen and (min-width: 1158px) {
  .footer-contain {
    width: 1280px;
  }
  .footer-contain__text {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  /* modal */
  .footer-contain__modal {
    padding: 30px 60px;

    min-width: 846px;
    max-height: 694px;
    /* max-height: 100%; */
  }
  .footer-contain__modal-text {
    margin-bottom: 40px;
  }
  .footer-contain__modal-github {
    margin-bottom: 40px;
    margin-left: 340px;
    margin-right: 340px;
  }
  .footer-contain__modal-list-name {
    font-size: 18px;
  }
}
