footer {
  width: 100%;
  background: #000;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.footer-contain {
  display: inline-flex;
  align-items: center;
  width: 320px;
  justify-content: center;
  text-align: center;
}

.footer-contain__text {
  margin: 40px 43px 28px 43px;

  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #b7b7b7;
}

.footer-contain__students {
  color: #b7b7b7;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contain__students:hover,
.footer-contain__students:focus {
  color: #f87719;
}

@media screen and (min-width: 768px) {
  .footer-contain {
    width: 768px;
  }

  .footer-contain__text {
    margin: 77px auto 40px auto;

    font-size: 16px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 1158px) {
  .footer-contain {
    width: 1280px;
  }

  .footer-contain__text {
    margin: 100px auto 80px auto;
  }
}