:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color: #242424;
    background-color: rgba(255, 255, 255, 0.87);

    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  .container {
    margin: 0 auto;
    padding: 0 15px;
  }
  
  @media screen and (min-width: 320px) {
    .container {
      width: 414px;
      padding: 0 15px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 1024px;
      padding: 0 47px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .container {
      width: 1280px;
      padding: 0 85px;
    }
  }
  
  /* .container {
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
      padding-left: 32px;
    padding-right: 32px;
    }
  }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px;
    }
  } */
  
  
  