body {
  background-color: #111;
}

:root {
  --menu-item-color: #595959;;
  --menu-item-mob-color: #FFFFFF;
  --current-color: #F87719;
  --logo-text-color: #FFFFFF;
  --light-theme-bc-color: #F5F5F5;
  --light-theme-logo-color: #282828;
  --light-theme-item-color: #595959;


}

/* ------------ MOBILE ------------ */
 .container {
  /* padding: 8px 20px; */
  margin-left: auto;
  margin-right: auto;
 }
 
 .menu, .logo-text {
  display: none;
 }
 
 .top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
  height: 48px;
 }
 
 .switch_theme {
  background-color: inherit;
  border: none;
  width: 44px;
  height: 18px;
 }
 
 .menu-item {
 font-family: 'Roboto Medium';
 font-weight: 500;
 font-size: 12px;
 line-height: 1.7;
 display: flex;
 align-items: center;
 text-align: center;
 text-transform: uppercase;
 color: var(--menu-item-color);
 }
 
 .is-hidden {
  opacity: 0;
  pointer-events: none;
 }

 .hidden {
  display: none;
}

/* <!--------------- MOBILE MENU -----------------> */

.mob-menu {
 position: absolute;
 top: 0;
 left:0;
 z-index: 1;
 width: 204px;
 height: 428px;
 background-color: inherit;
 padding-top: 8px;
 padding-left: 20px;
 overflow-y: scroll;
}

.no-scroll {
 overflow: hidden;
}

.popcorn-mob {
 margin-bottom: 40px;
 }
 
.menu-item-mob {
 font-family: 'Roboto Regular';
font-size: 14px;
line-height: 1.14;
margin-bottom: 24px;
color: var(--menu-item-mob-color);
}

.current {
 color: var(--current-color);
}

/* ---------- TABLET ------------ */

@media screen and (min-width: 768px) {
 .container {
  max-width: 768px;
  padding: 6px 32px;
}

.menu {
 display: flex;
 gap: 32px;
}

.top {
height: 60px;
}
.menu-menu {
 display: none;
}

.logo {
 display: flex;
 gap: 8px;
}

.popcorn {
 width: 48px;
 height: 48px;
}

.logo-text {
 font-family: 'Roboto Regular';
font-size: 24px;
line-height: 1.17;
display: flex;
align-items: center;
text-align: center;
margin-right: 59px;
color: var(--logo-text-color);
}

.switch_theme {
 width: 60px;
 height: 24px;
 margin-left: 169px;
}

.menu-item {
 font-size: 14px;
 line-height: 1.14;
 }
}

/* ---------- DESKTOP ------------ */

@media screen and (min-width: 1280px) {
 .container {
  max-width: 1280px;
 }
}

.light-theme {
  background-color: var(--light-theme-bc-color);
}

.light-theme .logo-text {
  color: var(--light-theme-logo-color);
}

.light-theme .menu-item {
  color: var(--light-theme-item-color);
}

.light-theme .menu-item-mob {
  color: var(--light-theme-item-color);
}

 .light-theme .current {
  color: var(--current-color);
}

