/* ---------MOBILE--------- */
/* HERO OVERLAY */
.library-hero__overlay {
  margin: 0 auto;

  background-color: #111111;
  background-image: linear-gradient(
      79.49deg,
      #111111 34.1%,
      rgba(17, 17, 17, 0) 64.67%
    ),
    url(../images/m-rows-red-seats-320-min.jpg);
  background-repeat: no-repeat;
  background-position: 0 10px bottom;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .library-hero__overlay {
    background-image: linear-gradient(
        79.49deg,
        #111111 34.1%,
        rgba(17, 17, 17, 0) 64.67%
      ),
      url('../images/m-rows-red-seats-320@2x-min.jpg');
  }
}
/* HERO SECTION */
.library-hero__section {
  max-width: 414px;
  padding: 40px 20px 144px;
}
.library-hero__title {
  display: block;
  width: 235px;
  margin-bottom: 8px;

  font-family: 'Roboto Bold';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;

  color: #ffffff;
}
.library-hero__sub {
  display: block;
  width: 249px;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #f8f8f8e9;
}
/* BODY SECTION */
.library-body__section {
  padding: 44px 0 42px;
  background-color: #111111;
}
.library-body__wrap {
  display: block;
  width: 240px;
  margin: 0 auto;
}
.library-body__default-sub {
  display: block;
  margin: 0 auto 20px;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;

  text-align: center;
  color: #ffffff;
}
.library-body__default-span {
  display: block;
}
.library-body__default-btn {
  display: block;
  padding: 12px 24px;
  margin: 0 auto;

  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  border: none;
  color: #111111;
}
.library-body__btn-span {
  display: block;
  font-family: 'Roboto Regular';
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
/* ---------------TABLET--------------- */
/* addictive-tablet-bg-features */
@media screen and (min-width: 375px) {
  .library-hero__overlay {
    background-color: #111111;
    background-image: linear-gradient(
        79.49deg,
        #111111 34.1%,
        rgba(17, 17, 17, 0) 64.67%
      ),
      url(../images/t-rows-red-seats-768-min.jpg);
    background-position: center;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .library-hero__overlay {
      background-color: #111111;
      background-image: linear-gradient(
          79.49deg,
          #111111 34.1%,
          rgba(17, 17, 17, 0) 64.67%
        ),
        url('../images/t-rows-red-seats-768@2x-min.jpg');
    }
  }
}
/* main-tablet-bg-features */
@media screen and (min-width: 768px) {
  .library-hero__overlay {
    background-color: #111111;
    background-image: linear-gradient(
        77.77deg,
        #111111 33.58%,
        rgba(17, 17, 17, 0) 71.57%
      ),
      url(../images/t-rows-red-seats-768-min.jpg);
      background-position: 105px ;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .library-hero__overlay {
      background-color: #111111;
      background-image: linear-gradient(
          77.77deg,
          #111111 33.58%,
          rgba(17, 17, 17, 0) 71.57%
        ),
        url('../images/t-rows-red-seats-768@2x-min.jpg');
    }
  }
  /* ---main-tablet-features--- */
  .library-hero__section {
    max-width: none;
    padding: 122px 32px 118px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.50);
  }
  .library-hero__title {
    width: 332px;
    font-size: 44px;
    line-height: 1.18;
  }
  .library-hero__sub {
    width: 357px;
    font-size: 14px;
    line-height: 1.14;
  }
  .library-body__section {
    padding: 80px 0 60px;
  }
  .library-body__wrap {
    width: 438px;
  }
  .library-body__default-sub {
    font-size: 24px;
    line-height: 1.33;
  }
  .library-body__btn-span {
    font-size: 14px;
    line-height: 1.14;
  }
}
/* ---------------DESKTOP--------------- */
/* main-desktop-bg-features */
@media screen and (min-width: 1280px) {
  .library-hero__overlay {
    background-color: #111111;
    background-image: linear-gradient(
        79.39deg,
        #111111 32.37%,
        rgba(17, 17, 17, 0) 72.02%
      ),
      url(../images/d-rows-red-seats-1280@2x-min.jpg);
      background-position: 107px bottom;
  }
  /* ---main-desktop-features--- */
  .library-hero__section {
    max-width: none;
    padding: 169px 117px 249px;
  }
  .library-hero__title {
    width: 464px;
    font-size: 64px;
    line-height: 1.17;
  }
  .library-hero__sub {
    width: 464px;
    font-size: 16px;
    line-height: 1.18;
  }
  .library-body__section {
    padding: 160px 0 108px;
  }
  .library-body__wrap {
    width: 584px;
  }
  .library-body__default-sub {
    font-size: 32px;
    line-height: 1.12;
  }
  .library-body__btn-span {
    font-size: 18px;
    line-height: 1.55;
  }
}
