.library-hero__overlay {
  margin: 0 auto;

  background-color: #111111;
  background-image: linear-gradient(
      79.49deg,
      #111111 34.1%,
      rgba(17, 17, 17, 0) 64.67%
    ),
    url(../images/m-rows-red-seats-320-min.jpg);
  background-repeat: no-repeat;
  background-position: 0 11px;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .library-hero__overlay {
    background-image: linear-gradient(
        79.49deg,
        #111111 34.1%,
        rgba(17, 17, 17, 0) 64.67%
      ),
      url('../images/m-rows-red-seats-320@2x-min.jpg');
  }
}
.library-hero__section {
  max-width: 414px;
  padding: 40px 20px 144px;
}
@media screen and (min-width: 1024px) {
  .library-hero__section {
    max-width: none;
  }
}
.library-hero__title {
  display: block;
  width: 235px;
  margin-bottom: 8px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;

  color: #ffffff;
}
.library-hero__sub {
  display: block;
  width: 249px;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #f8f8f8da;
}
.library-body__section {
  padding: 44px 0 42px;
  background-color: #111111;
}
.library-body__default-wrap {
  display: block;
  width: 280px;
}
.library-body__default-sub {
  display: block;
  width: 240px;
  margin: 0 auto 20px;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;

  text-align: center;
  color: #ffffff;
}
.library-body__default-span {
  display: block;
}
.library-body__default-btn {
  display: block;
  padding: 12px 24px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  border: none;
  color: #111111;
}
