@import url(./dict-modal/hystmodal.min.css);

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  letter-spacing: -0.3px;
  gap: 10px;
  width: 139px;
  height: 48px;

  border-radius: 74px;
  font-family: 'Roboto Medium';
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  /* flex: none;
  flex-grow: 0; */
}
.buttonVideo {
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);

  /* order: 0; */
  color: #111111;
}

.buttonInfo {
  background-color: #111111;
  border: 1px solid #ffffff;
  /* order: 1; */
  color: #ffffff;
}

.hystmodal__window {
  position: relative;
  width: 700px;
  height: 400px;
  background: #111111;
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 20px;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
}
.hystmodal__close {
  position: absolute;
  z-index: 100;
  top: 40px;
  right: 40px;
  display: block;
  width: 10.5px;
  height: 10.5px;
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url('../images/icon-x.svg');
  stroke: #ffffff;
  background-size: 100% 100%;
  border: none;
  font-size: 0;
  cursor: pointer;
  outline: none;
}
.hystmodal__close:focus,
.hystmodal__close:hover {
  outline: none;
  outline-offset: 2px;
  stroke: #f87719;
}
.errorWatchVideo {
  display: flex;
}

.errorText {
  box-sizing: border-box;
  position: absolute;
  width: 321px;
  height: 100px;
  left: 50px;
  top: 150px;

  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: calc(100px / 3);

  color: #ffffff;
}
.errorImg {
  position: absolute;
  width: 363px;
  height: 318px;
  left: 337px;
  top: 77px;

  /* background: url(IMG_9881.png); */
}

.is-hiddenVideo{
  display: none;
}
