@import url(./dict-modal/hystmodal.min.css);

/* <!--------------- MOBILE MENU -----------------> */
.hystmodal__wrap{
  position: relative;
}

.hystmodal__window {
  position: absolute;
  width: 280px;
  height: 289px;
  background: #111111;
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 20px;
  overflow: hidden;
}

.iframe_container{
  width: 100%;
  height: 100%;
  /* display: none; */
}

iframe {
  width: 100%;
  height: 100%;
  /* display: none; */

}

.hystmodal__close {
  position: absolute;
  z-index: 100;
  top: 175px;
  right: calc(50% - 150px);
  display: block;
  width: 7px;
  height: 7px;
  background-color: transparent;
  /* background-position: 50%; */
  background-repeat: no-repeat;
  background-image: url('../images/icon-x.svg');
  stroke: #ffffff;
  /* background-size: 100% 100%; */
  border: none;
  font-size: 0;
  cursor: pointer;
  outline: none;
}
.hystmodal__close:focus,
.hystmodal__close:hover {
  outline: none;
  outline-offset: 2px;
  stroke: #f87719;
}

.errorWatchVideo {
  display: flex;
}

.errorText {
  position: absolute;
  box-sizing: border-box;
  position: absolute;
  width: 214px;
  height: 65px;
  left: 33px;
  top: 39px;

  font-size: 16px;
  line-height: calc(65px / 3);

  /* White */

  color: #ffffff;

  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 400;

  color: #ffffff;
}
.errorImg {
  position: absolute;
  width: 159px;
  height: 153px;
  left: 61px;
  top: 128px;
}

.is-hidden {
  display: none;
}

/* ---------- TABLET ------------ */

@media screen and (min-width: 768px) {
  .hystmodal__window {
    width: 609px;
    height: 400px;
  }

  .hystmodal__close {
    top: 115px;
    right: calc(50% - 320px);
    width: 10.5px;
    height: 10.5px;
  }

  .errorWatchVideo {
    display: flex;
  }

  .errorText {
    width: 321px;
    height: 92px;
    left: 44px;
    top: 132px;

    font-size: 24px;
    line-height: calc(100px / 3);
  }
  .errorImg {
    left: 303px;
    top: 124px;

    width: 296px;
    height: 260px;
  }
}

/* ---------- DESKTOP ------------ */

@media screen and (min-width: 1280px) {
  .hystmodal__window {
    width: 700px;
    height: 400px;
  }

  .errorImg {
    position: absolute;
    width: 363px;
    height: 318px;
    left: 337px;
    top: 77px;
  }
}
