.movie-card {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  width: 280px;
  height: 406px;
  border-radius: 5px;
  flex-basis: calc((100% - 2 * 16px) / 1);

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.movie-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: inherit;
  background-image: linear-gradient(
    180deg,
    #00000000 63.48%,
    rgba(0, 0, 0, 0.902) 92.16%
  );
}

.movie-card:hover,
.movie-card:focus {
  transform: scale(1.08);
}

@media screen and (min-width: 768px) {
  .movie-card {
    width: 224px;
    height: 325px;
    flex-basis: calc((100% - (2 * 16px)) / 3);
  }
}

@media screen and (min-width: 1280px) {
  .movie-card {
    width: 395px;
    height: 574px;
    flex-basis: calc((100% - 2 * 16px) / 3);
  }
}

.movie-card__img {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      180deg,
      #00000000 63.48%,
      rgba(0, 0, 0, 0.902) 92.16%
    ),
    url(../images/not_found.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}



.movie-card__info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}

@media screen and (min-width: 1280px) {
  .movie-card__info {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

.movie-card__title {
  font-family: 'Roboto Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #ffffff;
}
.movie-card__ganre-rating-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-card__genre-year {
  font-family: 'Roboto Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #b7b7b7;
}

@media screen and (min-width: 1280px) {
  .movie-card__title,
  .movie-card__genre-year {
    font-size: 20px;
    line-height: 1.15;
  }
}
