button.arrow {
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.container.pagination {
  padding-top: 20px;
  /* padding-bottom: 40px; */
}

.pagination-list {
  display: flex;
  justify-content: center;
}

.pagination-list__link.more {
  border: 0;
  width: 16px;
}

button[disabled] {
  pointer-events: auto;
  cursor: default;
  /* color: #888; */
}

.pagination .arrow {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  background-size: 6px;
  background-repeat: no-repeat;
  background-position: center;
}

.pagination__back {
  margin-right: 4px;
  background-image: url(../images/Vector-back.svg);
}

.light-theme .pagination__back {
  background-image: url(../images/Vector-back-light.svg);
}

.pagination__forward {
  margin-left: 4px;
  background-image: url(../images/Vector-forward.svg);
}

.light-theme .pagination__forward {
  background-image: url(../images/Vector-forward-light.svg);
}

.pagination-list__item:not(:last-child) {
  margin-right: 8px;
}

.pagination-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #b7b7b7;
  border-radius: 50%;

  font-family: 'Roboto Regular';
  font-weight: 400;
  font-size: 10px;
  line-height: 1;

  text-align: center;

  color: #b7b7b7;
}

.light-theme .pagination-list__link {
  border-color: #282828;
  color: #282828;
}

.pagination-list__link.selected {
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border: none;
  color: #ffffff;
}

.light-theme .pagination-list__link.selected {
  color: #282828;
}

@media screen and (min-width: 768px) {
  .container.pagination {
    padding-top: 44px;
  }

  .pagination-list__link {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }

  .pagination-list__item:not(:last-child) {
    margin-right: 16px;
  }

  .pagination .arrow {
    width: 28px;
    height: 28px;
    background-size: 8px;
  }

  .pagination__back {
    margin-right: 12px;
    background-image: url(../images/Vector-back-tablet.svg);
  }

  .pagination__forward {
    margin-left: 12px;
    background-image: url(../images/Vector-forward-tablet.svg);
  }

  .light-theme .pagination__back {
    background-image: url(../images/Vector-back-light-tablet.svg);
  }

  .light-theme .pagination__forward {
    background-image: url(../images/Vector-forward-light-tablet.svg);
  }
}

@media screen and (min-width: 1280px) {
  .container.pagination {
    padding-top: 60px;
  }

  .pagination__back {
    background-image: url(../images/Vector-back-desktop.svg);
  }

  .pagination__forward {
    background-image: url(../images/Vector-forward-desktop.svg);
  }

  .light-theme .pagination__back {
    background-image: url(../images/Vector-back-desktop-light.svg);
  }

  .light-theme .pagination__forward {
    background-image: url(../images/Vector-forward-desktop-light.svg);
  }
}
