html {
  scroll-behavior: smooth;
}
@media screen and (min-width: 320px) {
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */

    padding: 12px 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.172;

    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
    border-radius: 74px;
    border: none;
    color: #111111;
  }
  }

@media screen and (min-width: 768px) {
  #myBtn {
    font-size: 14px;
    line-height: 1.172;
  }
}

#myBtn:hover {
  background:#FFFFFF;
  border: 1px solid #FFC226;
}

#myBtn:active,
#myBtn:hover,
#myBtn:focus {
  background: #FFFFFF;
  border: 1px solid #FFC226;
}


#myBtn:active {
  background: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

#myBtn:hover {
  color: #F87719;
  background: #FFFFFF;
  border: 1px solid #FFC226;
}

#myBtn:active:hover,
#myBtn:focus:hover,
#myBtn:focus {
  background: #FFFFFF;
  border: 1px solid #FFC226;
}
