
.catalog{
    min-width: 320px;
}
.catalog__search-form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .catalog__search-form{
        margin-bottom: 36px;
  }
}
@media screen and (min-width: 1280px) {
    .catalog__search-form{
        margin-bottom: 48px;
  }
}

.catalog__search-input{
    font-family: 'Roboto Regular';
    font-size: 14px;
    line-height: 16px;
    color: #B7B7B7;
    width: 224px;
    height: 40px;
    background-color: transparent;
    padding: 0 20px 0 20px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-right: 16px;
}
.light-theme .catalog__search-input {
    color: var(--menu-item-color);
    border: 1px solid var(--menu-item-color);
  }

@media screen and (min-width: 1280px) {
    .catalog__search-input {
      width: 334px;  
    }
  }
.catalog__search-input::placeholder{
    color: #B7B7B7;
}

.light-theme .catalog__search-input::placeholder{
    color: var(--menu-item-color);
}
.catalog__submit{
    width: 40px;
    height:40px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
      
}

.catalog__submit:hover{
    background: #FFFFFF;
}

.light-theme .catalog__submit:hover{
    border: 1px solid var(--current-color);
} 


.catalog__serch-icon,
.catalog__icon-cross
{
    stroke: #FFFFFF;
    fill:none;
} 

.light-theme .catalog__serch-icon,
.light-theme .catalog__icon-cross{
    stroke: #000;
} 

.catalog__submit:hover .catalog__serch-icon use,
.catalog__btn-cross:hover .catalog__icon-cross use {
    stroke: #ffa500;
  }

.catalog__message{
    padding-top: 48px;
    padding-bottom: 40px;
    font-family: 'Roboto Regular';
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.light-theme .catalog__message{
    color: #000;
} 

.catalog__btn-cross{
    position: absolute;
    top:0px;
    right: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
}
@media screen and (min-width: 768px) {
    .catalog__btn-cross{
        right: 275px;
  }
}
@media screen and (min-width: 1280px) {
    .catalog__btn-cross{
        right: 480px;
  }
}
 .ishidden{
    display: none;
 }


