

.catalog__dropdown-input{
    position: relative;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .catalog__dropdown-input{
        width: 189px;
        margin-right: 12px;

  }
}
@media screen and (min-width: 1280px) {
    .catalog__dropdown-input{
        width: 315px;
        margin-right: 20px;
  }
}
.catalog__search-form{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .catalog__search-form{
        width: 100%;
        flex-wrap: nowrap;
        margin-top: 60px;
        margin-bottom: 36px;
        justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
    .catalog__search-form{
        margin-top: 80px;
        margin-bottom: 48px;
  }
}

.catalog__search-input{
    outline: none;
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 12px;
    height: 40px;

    background-color: transparent;
    padding: 10px 35px 11px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;

    font-family: 'Roboto Medium';
    font-size: 14px;
    line-height: 1.14;
    color: #B7B7B7;
}

@media screen and (min-width: 768px) {
    .catalog__search-input{
        margin-bottom: 0;
        line-height: 1.14;
        padding: 11px 35px 12px 16px;
        height: 44px;
  }
}

@media screen and (min-width: 1280px) {
    .catalog__search-input{
        font-size: 16px;
        line-height: 1.5;
        padding: 13px 35px 14px 24px;
        height: 48px;
  }
}

.light-theme .catalog__search-input {
    color: #595959;
    border: 1px solid #595959;
  }

.catalog__search-input::placeholder{
    font-family: 'Roboto Medium';
    font-size: 14px;
    line-height: 1.14;
    color: #B7B7B7;
}

@media screen and (min-width: 768px) {
    .catalog__search-input::placeholder{
        margin-bottom: 0;
        line-height: 1.14;
        
  }
}

@media screen and (min-width: 1280px) {
    .catalog__search-input::placeholder{
        font-size: 16px;
        line-height: 1.5;
        
  }
}

.light-theme .catalog__search-input::placeholder{
    color: var(--menu-item-color);
}
.catalog__submit{
    width: 40px;
    height:40px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
      
}

.catalog__submit:hover{
    background: #FFFFFF;
}

.light-theme .catalog__submit:hover{
    border: 1px solid var(--current-color);
} 


.catalog__serch-icon,
.catalog__icon-cross
{
    stroke: #FFFFFF;
    fill:none;
} 

.light-theme .catalog__serch-icon,
.light-theme .catalog__icon-cross{
    stroke: #000;
} 

.catalog__submit:hover .catalog__serch-icon use,
.catalog__btn-cross:hover .catalog__icon-cross use {
    stroke: #ffa500;
  }

.catalog__message{
    padding-top: 48px;
    padding-bottom: 40px;
    font-family: 'Roboto Regular';
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .catalog__message{
        font-size: 24px;
        line-height: 1.33;
  }
}
@media screen and (min-width: 1280px) {
    .catalog__message{
        font-size: 32px;
        line-height: 1.13;
  }
}

.light-theme .catalog__message{
    color: #111;
} 

.catalog__btn-cross{
    position: absolute;
    top: 40%;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background-color: transparent;
    border: none;
    transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
    .catalog__btn-cross{
        top: 50%;
  }
}

 .ishidden{
    display: none;
 }

 .catalog__search-year{
    outline: none;
    display: block;
    width: 95px;
    text-align: left;

    background-color: transparent;
    padding: 10px 35px 11px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;

    font-family: 'Roboto Medium';
    font-size: 14px;
    line-height: 1.14;
    color: #B7B7B7;

    cursor: pointer;
 }

 @media screen and (min-width: 768px) {
    .catalog__search-year{
        margin-bottom: 0;
        line-height: 1.14;
        height: 44px;
  }
}

@media screen and (min-width: 1280px) {
    .catalog__search-year{
        font-size: 16px;
        line-height: 1.5;
        height: 48px;
  }
}

.light-theme .catalog__search-year {
    color: #595959;
    border: 1px solid #595959;
  }

 .catalog__dropdown-year{
    position: relative;

 }

 @media screen and (min-width: 768px) {
    .catalog__dropdown-year{
        margin-right: 12px;

  }
}
@media screen and (min-width: 1280px) {
    .catalog__dropdown-year{
        margin-right: 20px;
  }
}

 .catalog__dropdown-year::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);

    width: 16px;
    height: 16px;
    display: block;

    background-image: url(../images/down.svg);
    pointer-events: none;
    color:#111;
 }
 .light-theme .catalog__dropdown-year::after {
    background-image: url(../images/down_dark.svg);
  }


 .catalog__dropdown-list{
    
    position: absolute;
    top: 40px;
    left: 0;
    width: 95px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    z-index: 1;
    background-color: #1C1C1C;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
 }
 @media screen and (min-width: 768px) {
    .catalog__dropdown-list{
        top: 44px;
  }
}
 @media screen and (min-width: 1280px) {
    .catalog__dropdown-list{
        top: 48px;
  }
}

 
 .light-theme .catalog__dropdown-list {
    background-color: #F8F8F8;
    border: 1px solid #595959;
  }

 .catalog__dropdown-item{
    font-family: 'Roboto Medium';
    font-size: 14px;
    line-height: 1.17;
    color: #F8F8F8;
    padding-top: 6px;
    padding-bottom: 6px;
    
    cursor: pointer;
 }

@media screen and (min-width: 1280px) {
    .catalog__dropdown-item{
        font-size: 16px;
        line-height: 1.17;
  }
}

 .light-theme .catalog__dropdown-item{
    color: #282828;
 }

 .catalog__dropdown-item:hover{
    font-size: 18px;
    color: #F87719;
 }

