/**
|============================
| include css partials with
| default @import url()
|============================
*/

@import url('./general.css');
@import url('./reset.css');
@import url('./fonts.css');
@import url('./preloader.css');
@import url('./hero.css');
@import url('./search-form.css');
@import url('./catalog.css');
@import url('./pagination.css');
@import url('./library.css');
@import url('./home-weekly.css');
@import url('./home-upcoming.css');
@import url('./footer.css');
@import url('./scrollUP.css');
@import url('./header.css');
@import url('./modal_window_watch.css');
@import url('./movie_card.css');
@import url('./star_rating.css');
@import url('./modal-details.css');
